mixin cabecalho(bookData)
    table(cellspacing='0', cellpadding='0', width='100%')
    tr
        td.template-header
        table(cellpadding='0', cellspacing='0', width='100%')
            tr
            td.header-img
                unless bookData.dados.Template.Opcoes['Template Boxnet']
                    img(src=`${bookData.config.urlPage}/BookContents/Clientes/${bookData.dados.Template.IdProdutoMvc}/img/header.png`, alt='')
                if bookData.dados.Template.Opcoes['Template Boxnet']
                    img(src=`${bookData.config.urlPage}/BookContents/Clientes/0/img/header.png`, alt='')
    tr
        td.template-botoes
        table(cellpadding='0', cellspacing='0', width='100%')
            tr
            td.data-book
                div #{bookData.dados.DataCadastro}
            td.botoes(width='100')
            if bookData.dados.Template.navegadoresAntigos
                a(href=`${bookData.config.urlPage}/Visualizar/?b=${bookData.config.idBookVersao}&p=${bookData.IdProduto}&pmvc=${bookData.dados.Template.IdProdutoMvc}`)
                | ver todas
            unless bookData.dados.Template.navegadoresAntigos
                a(href=`${bookData.config.urlVis}/?idBook=${bookData.config.idBook}&idProdutoMvc=${bookData.dados.Template.IdProdutoMvc}&idNoticia=0`)
                | ver todas
            td.botoes(width='100')
                a(href=bookData.config.urlPdf)
                | gerar pdf
