table#barra-lateral(cellpadding='0', cellspacing='0', width='100%')
  tr
    td.barra1
    if *
      each container, ContainerIndex in template.dados.Containers  
        table(cellpadding='0', cellspacing='0', width='100%')
          tr
            td.container-canais
              table(cellpadding='0', cellspacing='0', width='100%')
                each canais, canaisIndex in container.ArvoreDeOrdenacao
                  tr
                    td
                      table(cellpadding='0', cellspacing='0', width='100%')
                        tr
                          td.canal-titulo
                            table
                              tr
                                td
                                  h2
                                    a(name=`canal-${canais.IdContainerNodo}`, id=`canal-${canais.IdContainerNodo}`) #{canais.NomeNivel}
                        tr
                          td.canal-noticias
                            each noticia, nivelIndex in canais.items
                            div
                              +noticias(opcoes='{{container.Opcoes}}', noticia='{{canais.items}}') //-todo
                        if container.Opcoes['Leia mais']
                          tr
                            td(align='right')
                              table(cellpadding='0', cellspacing='0')
                                tr
                                  td.canal-noticias-leiamais
                                    a(href=container.URLVejaMais, target='_blank') leia mais
    td(width='20')
    td.barra2
      if /!last
      each container, ContainerIndex in template.dados.Containers
        table(cellpadding='0', cellspacing='0', width='100%')
          tr
            td.container-canais
              table(cellpadding='0', cellspacing='0', width='100%')
                each canais, canaisIndex in container.ArvoreDeOrdenacao
                  tr
                    td
                      table(cellpadding='0', cellspacing='0', width='100%')
                        tr
                          td.canal-titulo
                            table
                              tr
                                td
                                  h2
                                    a(name=`canal-${canais.IdContainerNodo}`, id=`canal-${canais.IdContainerNodo}`) #{canais.NomeNivel}
                        tr
                          td.canal-noticias
                            each noticia, nivelIndex in canais.items
                              div
                                +noticias(opcoes='{{container.Opcoes}}', noticia='{{canais.items.ExistemFilhos}}') //-todo
                        if container.Opcoes['Leia mais']
                          tr
                            td(align='right')
                              table(cellpadding='0', cellspacing='0')
                                tr
                                  td.canal-noticias-leiamais
                                    a(href=container.URLVejaMais, target='_blank') leia mais
