table(cellspacing='0', cellpadding='0', width='100%', ng-init="noticias[$index].UsarLinkOriginal = (container.Opcoes['Link original'] && (noticias[$index].IdMidia == 1))")
  tr
    if container.Opcoes['Icone de Midia']
      td(width='45', align='left')
      if !template.dados.Template.Opcoes['Template Boxnet']
        img(src=`${template.config.urlPage}/BookContents/Clientes/${template.dados.Template.IdProdutoMvc}/img/icone-midia-${noticias[index].IdMidia}.png` alt='')
      if template.dados.Template.Opcoes['Template Boxnet']
        img(src=`${template.config.urlPage}/BookContents/Clientes/0/img/icone-midia-${noticias[$index].IdMidia}.png`, alt='')
    td
      table(cellspacing='0', cellpadding='0', width='100%')
        if container.Opcoes['Avaliação'] && noticias[$index].Avaliacao != undefined
          tr
            td.noticia-avaliacao
              table(cellspacing='0', cellpadding='0')
                tr
                  td.noticia-avaliacao-cor(style=`background: ${noticias[$index].Avaliacao.CorAvaliacao}`)
                  td
                  span #{noticias[$index].Avaliacao.Descricao.uppercase()}
        tr
          td.noticia-data
            if !container.Opcoes['Icone de Midia']
              span
                strong #{noticias[$index].Midia}
                |  -
            span #{noticias[$index].DataFonte} //-fulldate
        tr
          td.noticia-titulo
            if noticias[$index].IdMidia == 3 || noticias[$index].IdMidia == 4
              div
                span(style='font-size: 11px;')
                  strong(ng-if="container.Opcoes['Minutagem'] && noticias[$index].Duracao != undefined")  (#{noticias[$index].Duracao | secToHrs})
            if container.Opcoes['Ver em Navegadores Antigos']
              div
                if !noticias[$index].UsarLinkOriginal
                  a.titulo(target='_blank', ng-href=`${template.config.urlPage}/Visualizar/?b=${template.config.idBookVersao}&n=${noticias[$index].IdNoticia}&p=${template.dados.IdProduto}&pmvc=${template.dados.Template.IdProdutoMvc}`)
                    | #{noticias[$index].TituloNoticia}
                if noticias[$index].UsarLinkOriginal
                  a.titulo(target='_blank', href=`${noticias[$index].UrlNoticia}`)
                    | #{noticias[index].TituloNoticia}
            if !container.Opcoes['Ver em Navegadores Antigos']
              div
                if !noticias[$index].UsarLinkOriginal
                  a.titulo(target='_blank', href=`${template.config.urlVis}/?idBook=${template.config.idBook}&idNoticia=${noticias[$index].IdNoticia}&idProdutoMvc=${template.dados.Template.IdProdutoMvc}`)
                    | #{noticias[$index].TituloNoticia}
                if noticias[$index].UsarLinkOriginal
                  a.titulo(target='_blank', href=`${noticias[$index].UrlNoticia}`)
                    | #{noticias[$index].TituloNoticia}
        tr
          td.noticia-fonte
            span.fonte
              | #{noticias[$index].Fonte | splitNaBarra:container:noticias[$index].Midia | uppercase}
            if noticias[$index].TemNoticiasSimilares
              a.noticia-fonte(href=`${template.config.urlVis()}/?idNoticia=${noticias[$index].IdNoticia}&idProdutoMvc=${template.dados.Template.IdProdutoMvc}&personalizado=similares`, target='_blank')
                strong [+]
              span
                strong(ng-if="container.Opcoes['Classificação'] && noticias[$index].Abrangencia != undefined")  (#{noticias[$index].Abrangencia.Descricao})
        if container.Opcoes['Noticias Relacionadas'] && noticias[$index].TemNoticiasRelacionadas
          tr
            td.noticia-texto
              div(ng-repeat='relacionadas in noticias[$index].items')
                a(target='_blank', ng-href=`${template.config.urlVis}/?idBook=${template.config.idBook}&idNoticia=${relacionadas.IdNoticia}&idProdutoMvc=${template.dados.Template.IdProdutoMvc}`)
                  | #{relacionadas.Fonte | splitNaBarra:container:relacionadas.Midia | uppercase}
        if container.Opcoes['Sinopse']
          tr
            td.noticia-texto
              span(ng-if='noticias[$index].Sinopse', ng-bind-html='noticias[$index].Sinopse')
              span(ng-if="container.Opcoes['Lead'] && (noticias[$index].Sinopse === null || noticias[$index].Sinopse === '')")
                | #{noticias[$index].LeadNoticia}
        if container.Opcoes['Sinopse'] === undefined && container.Opcoes['Lead']
          tr
            td.noticia-texto
              span
                | #{noticias[$index].LeadNoticia}
